@media (orientation: landscape) {
  :root {
    --world-edge: 100vh;
  }
}

@media (orientation: portrait) {
  :root {
    --world-edge: 100vw;
  }
}

*,
html {
  padding: 0;
  margin: 0;
  align-content: center;
}

html {
  width: 100vw;
}

body {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

#world-container {
  display: flex;
  flex: 5;
}

#world {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: var(--world-edge);
  height: var(--world-edge);
  background-color: green;
  /* for testing */
}

.column {
  display: flex;
  flex-direction: column;
}

.pixel {
  background-color: purple;
  /* for testing */
  height: calc(var(--world-edge) / 15);
  width: calc(var(--world-edge) / 15);
  background-size: cover;
  background-position: center;
}

.pixel:hover {
  height: calc(var(--world-edge) / 15);
  width: calc(var(--world-edge) / 15);
  border: 1px solid #f0f0f0;
}

.sky {
  background-color: #8cbffb;
}

.cloud {
  background-color: #fff;
}

.grass {
  background-image: url('../img/ores/grass.png');
}

.dirt {
  background-image: url('../img/ores/dirt.png');
}

.stone {
  background-image: url('../img/ores/stone.png')
}

.wood {
  background-image: url('../img/ores/wood.png');
}

.leaf {
  background-image: url('../img/ores/leaf.jpg');
}

#sidemenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
  margin: auto;
  background-color: black;
}

.tool {
  margin: calc(var(--world-edge) / 24) auto;
  width: calc(var(--world-edge) / 4);
  height: calc(var(--world-edge) / 4);
  /* just for placeholder text */
  background-size: cover;
  background-position: center;
  border: 5px dotted white;
}

.axe {
  background-image: url('../img/tools/axe.png');
}

.pickaxe {
  background-image: url('../img/tools/pickaxe.png');
}

.shovel {
  background-image: url('../img/tools/shovel.png');
}