html {
  padding: 0;
  margin: 0;
  font-size: 0;
}

body {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  /* SHOW AFTER MEDIA QUARY overflow: hidden; */ 
}

#world-container {
  background-color: brown;
  display: flex;
  flex-direction: column;
  flex: 8;
}

#world {
  display: flex;
  flex-direction: row;
  width: 100vh;
  height: 100vh;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: green;
}

.column {
  display: flex;
  flex-direction: column;
}

.pixel {
  background-color: purple;
  height: calc(100vh / 15);
  width: calc(100vh / 15);
}

.blue {
  /* just so we can understand exactly the structure of the columns and pixels */
  background-color: blue;
}

#sidemenu {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  padding: 50px;
  font-size: 16px; /* just for placeholder text */
  right: 0;
  height: 100vh;
  background-color: black;
}

.tool {
  margin: 0 auto;
  background-color: white;
  width: 180px;
  height: 180px;
}