tr {
    padding: 0;
}

td {
    border: 1px grey solid;
    border-collapse: collapse;
    align-content: flex-start;
    padding: 4px 0;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45)), url(../img/all-bg.jpg);
    background-size: contain;
    background-repeat: repeat-x;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 100;
    overflow: hidden;
}

.container-fluid {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
}

.btn {
    font-size: 1em;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .btn {
        font-size: 2em;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .btn {
        font-size: 2em;
    }
}

#logo {
    margin: auto;
    width: 100%;
}

.tool-icon {
    display: inline-block;
    margin: 0 4px;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
}

.axe {
    background-image: url('../img/tools/axe.png');
}

.pickaxe {
    background-image: url('../img/tools/pickaxe.png');
}

.shovel {
    background-image: url('../img/tools/shovel.png');
}

.ore-icon {
    display: inline-block;
    margin: 0 4px;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    bottom: 0;
}

.wood {
    background-image: url('../img/ores/wood.png');
}

.leaf {
    background-image: url('../img/ores/leaf.jpg');
}

.stone {
    background-image: url('../img/ores/stone.png');
}

.dirt {
    background-image: url('../img/ores/dirt.png');
}

.grass {
    background-image: url('../img/ores/grass.png');
}